<header id="header" class="header" role="banner">
    <div class="container header-container">
        <a class="logo" href="{{ .Site.BaseURL }}">
            <img class="logo-img" src="/img/nsvip-en.svg" alt="Province of Nova Scotia">
            </img>
        </a>
        <nav id="navigation" class="navigation" role="navigation" aira-label="Main navigation">
            <ul class="menu">
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren}}
                    <li class="li">
                        <a href="{{ .URL }}" role="link">
                            <span>{{ .Name }} ddd</span>
                        </a>
                    </li>
                    {{ else }}
                    <li class="li">
                        <a href="{{ .URL }}" role="link">
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                    {{ end }}
                {{ end }}
            </ul>
        </nav>
    </div>
</header>