<header id="header" class="header" role="banner">
    <div class="container header-container">
        <a class="logo" href="/">
            <img class="logo-img" src="https://beta.novascotia.ca/themes/ignition/img/nsvip-en.svg" alt="Province of Nova Scotia">
            </img>
        </a>
        <nav id="navigation" class="navigation" role="navigation" aira-label="Main navigation">
            <ul class="menu">
                <li class="li">
                    <a href="one" role="link">
                        <span>One</span>
                    </a>
                </li>
                <li>
                    <a href="two">
                        <span>Two</span>
                    </a>
                </li>
                <li>
                    <a href="three">
                        <span>Three</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>