{{ define "main" }}
<main id="main" class="main" role="main">  
    <div>
    <div id="block-premier-page-title">
  
    
      
  <h1><span property="schema:name">Honourable Tim Houston</span>
</h1>

<div class="hero-img"></div>
<div class="navy-bg title-ribbon">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>{{ $.Site.Title }}</h1>
				<p class="h3">Something slug</p>
			</div>
		</div>
	</div>
</div>

<main id="main" class="main" role="main">  
    <div>
    <div id="block-premier-page-title">
  
    
      
  <h1><span property="schema:name">Honourable Tim Houston</span>
</h1>

{{ end }}